@use "../abstracts/abstracts" as *;

.bg-pattern {
    .top-pattern {
        position: absolute;
        z-index: -1;
        right: 45%;
        bottom: 35%;
        @include mq("medium") {
            right: 50%;
            bottom: 40%;
        }
    }
    .bottom-pattern {
        position: absolute;
        z-index: -1;
        left: 45%;
        top:  40%;
        @include mq("medium") {
            left: 50%;
            top:  45%;
        }
        @include mq("full") {
            top:  50%;
        }
    }
}

.attribution {
    font-size: 11px; 
    text-align: center;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    a {
        color: hsl(228, 45%, 44%);
     }
}