@use "../abstracts/abstracts" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $main-font;
    background-color: $dark-cyan;
    z-index: -2;
}
.site-wrapper {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    z-index: -3;
}
