@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

// COLORS 
$dark-cyan: hsl(185, 75%, 39%);
$desat-blue: hsl(229, 23%, 23%);
$gray-blue: hsl(227, 10%, 46%);

$dark-gray: hsl(0, 0%, 59%); 

// FONT
$main-font: 'Kumbh Sans', sans-serif;

// MEDIA QUERIES BREAKPOINTS
$breakpoints: (
  tiny: 324px,
  small: 480px,
  medium: 768px,
  large: 1020px,
  huge: 1224px,
  full: 1440px,
);
